*{
    box-sizing: border-box;
}

body, html{
    height: 100%;
    padding: 0;
    margin: 0;
}

.container{
    font-family: Helvetica;
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr 4fr;
    height: 100%;
}

.sidebar{
    font-weight: bold;
    color: white;
    padding: 5px 20px 0 20px;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #0495d9;
}

.sidebar h2{
    font-size: 24px;
    margin-bottom: 45px;
}

h2 i{
    font-size: 40px;
    margin-right: 10px;
}

.sidebar p{
    font-size: 18px;
}

p i{
    font-size: 23px;
    margin-right: 20px;
    margin-left: 5px;
}

.sidebar p:nth-child(7){
    margin-bottom: 50px;
}


.header{
    background-color: white;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.header .search{
    grid-column: 1/2;
    padding: 20px;
    justify-self: center;
    align-self: center;
}

.search input{
    background-color: #d8e1e6;
    border-radius: 15px;
    font-size: 24px;
    width: 700px;
    border-style: none;
}

.search i{
    font-size: 26px;
}

.notifs{
    display: grid;
    grid-template-columns: 50px 50px 70px;
    align-items: center;
    justify-items: center;
    justify-content: end;
    gap: 15px;
    padding-right: 100px;
}

.notifs .pfp{
    width: 40px;
    clip-path: circle();
    margin-left: 30px;
}

.notifs i{
    font-size: 26px;
}

.notifs p{
    font-size: 18px;
    font-weight: bold;
}

.greeting{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.greeting .pfp{
    width: 60px;
    clip-path: circle();
    align-self: center;
    justify-self: end;
    margin: 15px;
}

.greeting div{
    padding-top: 7px;
}

.greeting p{
    font-size: 14px;
    margin: 5px;
    font-weight: bold;
}

.greeting .username{
    font-size: 26px;
}

.new-upload-share{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.new-upload-share button{
    border-radius: 20px;
    font-size: 16px;
    padding: 10px 20px;
    color: white;
    background-color: #0495d9;
    border-style: none;
}

.body{
    background-color: #d8e1e6;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2.8fr 1fr;
}

.body-left{
    padding: 16px 20px;
}

.title{
    font-size: 19px;
    font-weight: 550;
}

.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    overflow: auto;
    height: 550px;
}

.projects .cards{
    background-color: white;
    height: 200px;
    border-radius: 10px;
    border-left: 10px solid goldenrod;
    padding: 15px 30px 15px 20px;
}

.cards div{
    display: grid;
    justify-self: end;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    font-size: 22px;
}

.cards h2{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 0;
}

.cards p{
    margin-top: 5px;
    font-size: 14px;
    color: gray;
    height: 100px;
    margin-bottom: 0;
    padding-right: 40px;
    
}

.body-right{
    padding: 16px 20px 16px 5px;
}

.announcement{
    height: 330px;
    border-radius: 10px;
    background-color: white;
    padding: 20px 30px;
}

.announcement div{
    height: 95px;
}

.announcement p{
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 600;
}

.announcement .description{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    color: gray;
    font-weight: 400;

}

.second {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}